body {
  width: 300px;
}

.Popup-header {
  /* background-color: #282c34; */
  /* min-height: 90vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.Popup-button-icon {
  height: 16px;
  width: 16px;
  margin: 1px;
  vertical-align: middle;
}

.TabButtons {
  display: none;
  margin-left: auto;
}

.TabButtons-icon {
  height: 16px;
  width: 16px;
  margin: 1px;
  vertical-align: middle;
}

.TabLine {
  display: flex;
  align-items: baseline;
  margin: 2px;
  cursor: default;
  border-radius: 3px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TabLine:hover {
  background-color: lightblue;
}

.TabLine:hover > .TabButtons {
  display: block;
}

.TabLine-favicon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.TabLine-title {
  font-size: 14px;
  color: rgb(85, 85, 85);
  margin-left: 6px;
  margin-right: 4px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Popup-link {
  color: #61dafb;
}
