@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.Popup {
  font-family: 'Varela Round', Arial, sans-serif;
}

body {
  width: 300px;
}

.Popup-header {
  /* background-color: #282c34; */
  /* min-height: 90vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.Popup-header-line {
  display: flex;
  justify-content: space-between;
}

.Popup-button-icon {
  height: 16px;
  width: 16px;
  margin: 3px;
  vertical-align: middle;
}

/* .Header-buttons {
  flex: 1;
} */

.Result-counts {
  color:gray;
}

.Search-text {
  font-size: 16px;
  color:rgb(85, 85, 85);
  min-width: 290px;
  margin: 1px;
}

.TabButtons {
  display: none;
  margin-left: auto;
}

.TabButtons-icon {
  height: 16px;
  /* height: 100%; */
  width: 16px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.TabLine {
  display: flex;
  align-items: baseline;
  margin: 2px;
  /* margin-top: 4px; */
  height: 20;
  cursor: default;
  border-radius: 3px;
  font-family: 'Varela Round', Arial, sans-serif;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TabLine:hover {
  background-color: lightblue;
}

.TabLine:hover > .TabButtons {
  display: block;
}

.TabLine-favicon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.TabLine-title {
  font-size: 14px;
  color: rgb(85, 85, 85);
  margin-left: 6px;
  margin-right: 4px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.Popup-link {
  color: #61dafb;
}
